body {
    max-width: 850px;
    margin: 0 auto 0 auto;
    color: #ffffff;
}

.bg-black {
    background-color: #000000BB;
}

header, footer {
    background-color: #0f0f0f;
}

.nav {
    align-items: center;
    justify-content: left;
    margin: none;
    font-size: 0;
}

header button{
    margin: none;
    background-color: #0f0f0f;
    border-left: none;
    border-right: 2px solid #000000BB;
    border-top: none;
    border-bottom: none;
    color: #FFC90E;
    padding: 0.5em 1em;
    text-align: center;
}

h1 {
    color: #61afee;
    /*font-size: 40;*/
    margin-bottom: 0;
}

h2 {
    color: #37A3F0;
    margin-top: 0;
}

h3 {
    color: #CE723C;
    margin-bottom: 0;
    border-bottom: solid;
}
h4, th {
    color: #75FA8D;
    margin-bottom: 0;
}

a {
    color: #FFC90E;
}

.user {
    margin-right: auto;
    padding-left: 1em;
}

.pfp {
    width: 25%;
    height: 25%;
    max-width: 125px;
    max-height: 125px;
    overflow: hidden;
    margin-left: 1em;
    margin-right: 1em
}

.pfp img {
    width: 100%;
    border-radius: 100%;
}

.padding-section {
    padding-left: 1em;
    padding-right: 1em;
}

.padding-top {
    padding-top: 1em;
}

.width-50 {
    width: 47%;
    min-width: 360px;
    padding: 0 0.5em;
}

.margin-bot-0 {
    margin-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.padding-2 {
    padding: 2em;
}

.padding-left-1 {
    padding-left: 1em;
}

.flex-align-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-align-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container {
    background-color: #04395E;
    margin-top: 1em;
    min-width: 40%;
    color: #19AAFF;
    padding: 0.5em 1em;
    /*border-radius: 2em;*/
    border-style: none none none solid;
}

.blink {
    animation: blink 1s linear infinite;
}

.img-proyecto img {
    width: 100%;
}

/*FONTS*/
.roboto-mono-bold {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-mono-slim {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.polka-dot {
    background-color: #000;
    background-image:   radial-gradient(#35253e 10%, transparent 11%),
                        radial-gradient(#35253e 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
}

/*ANIMATIONS*/
@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}